.bubble-container_menu_small {
    display: none;
    z-index: 3;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* top: 30%; */
    /* left: 70%; */
    /* transform: translate(0%, -100%); */
    /* z-index: 3; */
    margin-top: 140px;
    text-align: right;
    transition: opacity 3s ease 6s  /* Transición de opacidad */
}

.bubble_menu_small {
    width: 120px;
    height: 120px;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    margin: 30px;
    font-size: 18px;
    /* color: #333; */
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.76);
    animation: riseAndGrow 2s forwards, float 4s 2s infinite;
    opacity: 1;
    /*animation: float 4s infinite;*/ /* Animación de flotación */
}
.bubble_menu_small .img_bubble_menu_small{
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

.bubble_menu_small span{
    position: absolute;
    border-radius: 50%;
}

.bubble_menu_small h3{
    position: absolute;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
    top:125px;
    color: white;
    font-size: 20px;
    /* text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    */
}

.bubble_menu_small p{
    position: absolute;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
    top:145px;
    color: white;
    font-size: 20px;
    /* text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; */

}

.bubble_menu_small span:nth-child(1){
    inset: 10px;
    border-left: 15px solid #ffffff;
    filter: blur(8px);
}

.show-bubbles {
    opacity: 1;
}

.show-bubbles .bubble {
    animation: riseAndGrow 2s forwards, float 4s 2s infinite; /* Aplica ambas animaciones a las burbujas */
    /*width: 100px;*/ /* Tamaño final */
    /*height: 100px;*/ /* Tamaño final */
    opacity: 1; /* Se vuelve visible */
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes riseAndGrow {
    0% {
        transform: translateY(100vh) scale(0.1); /* Aparecen desde abajo de la pantalla */
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1); /* Terminan en su posición final */
        opacity: 1;
    }
}