.bubble_effect {
  z-index: 98;
  position: absolute;
  bottom: -100px; /* Empieza fuera de la pantalla */
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.253);
  animation: float-up 3s forwards ease-in-out; /* Animación de flotación con desvanecimiento */
  pointer-events: none; /* No interferir con el mouse */
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.76);
}

/* Animación de las burbujas */
@keyframes float-up {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  70% {
      opacity: 1; /* Mantiene la opacidad mientras sube */
      transform: translateY(-80vh); /* Sube hacia arriba */
  }
  100% {
      opacity: 0; /* Desaparece gradualmente */
      transform: translateY(-100vh); /* Termina de subir */
  }
}
