@media only screen and (max-width: 768px) {

    .bubble_menu {
        width: 350px !important;
        height: 350px !important;
        margin: 100px 10px !important; 
    }

    .bubble_menu .video_bubble{
        margin: 20px auto !important;
  }
}

.bubble-container_menu {
    display: none;
    z-index: 3;
    opacity: 0;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%;
    transform: translate(-50%, -50%); */
    /* top: 30%; */
    /* left: 70%; */
    /* transform: translate(0%, -100%); */
    /* z-index: 3; */
    /* margin-top: 120px; */
    text-align: right;
    transition: opacity 3s ease 6s  /* Transici칩n de opacidad */
}

.bubble-container_menu h1{
    text-align: center;
    /* color: #8662ac; */
    color: white;
    font-weight: 1000;
}

.container_flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}


.bubble_menu {
    width: 440px;
    height: 440px;
    display: inline-flex;
    text-align: center;
    margin: 10px 10px;
    font-size: 18px;
    /* color: #333; */
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.76);
    animation: riseAndGrow 2s forwards, float 4s 2s infinite;
    opacity: 1;
    /* animation: float 4s infinite; */
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.bubble_menu .img_bubble_menu{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.bubble_menu .video_bubble{
    border-radius: 240px;
    height: 90%;
    width: 90%;
    margin: 25px auto;
    display: block;
    max-width: 600px;
    opacity: 0.8;
    object-fit: fill;
}

.bubble_menu span{
    position: absolute;
    border-radius: 50%;
}

.bubble_menu h3{
    position: absolute;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
    top: 110px;
    color: white;
    font-size: 20px;

    white-space: normal;
    /* text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    */
}

.bubble_menu p{
    position: absolute;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
    top: 170px;
    color: white;
    font-size: 20px;
    /* text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; */

}

.bubble_menu span:nth-child(1){
    inset: 10px;
    border-left: 15px solid #ffffff;
    filter: blur(8px);
}

.show-bubbles {
    opacity: 1;
}

.show-bubbles .bubble {
    animation: riseAndGrow 2s forwards, float 4s 2s infinite; /* Aplica ambas animaciones a las burbujas */
    /*width: 100px;*/ /* Tama침o final */
    /*height: 100px;*/ /* Tama침o final */
    opacity: 1; /* Se vuelve visible */
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes riseAndGrow {
    0% {
        transform: translateY(100vh) scale(0.1); /* Aparecen desde abajo de la pantalla */
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1); /* Terminan en su posici칩n final */
        opacity: 1;
    }
}
