@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

@font-face {
    font-family: 'Nexa';
    src: url('fonts/Nexa-Heavy.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
.ChangeWeb{
    color:white;
    background-color: #f15033;
    width: auto;
    height: 65px;
}

.intro-except{
    text-align: left;
    position: relative;
    top: -700px;
    left: -10;
    right: 600px;
    z-index: 4;
    /* right: 100px; */
    padding-left: -100px;
    /* min-width: 992px; */
    max-width: 450px;
}

.intro-except h1 {
    font-weight: 700;
    color: #383893;
    margin-bottom: 30px;
    font-size: 50px;
}

.intro-except p {
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
    
}

/* EFECTO DE ZOOM*/
.parallax {
    
    transition: transform 1s ease, opacity 1s ease; /* Transiciones para el zoom y desvanecimiento */
}

/* NAVBAR */


.header{
    background-color: #4e6e9e !important;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 55px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.nav-links .changeStyle{
    background: #d15d41;
    padding: 22px;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    /*background-color: #e2f1f8;*/
    color: #ffbc0e;
    transform: scale(1.1);
}



a {
    text-decoration: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #2f2f2f;
    }
    a:hover {
      color: #2f2f2f;
      text-decoration: none; }
    a.more {
      font-weight: 600;
    }


      
.btn {
    border: 2px solid black;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background-color: white;
  border-color: #2f2f2f;
  cursor: pointer;
}
  .btn:hover {
    color: #ffffff;
    background: #222222;
    border-color: #222222; }
  .btn:active, .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .btn.btn {
    background: #3b535d;
    border-color: #3b5d50; }
    .btn.btn:hover {
      background: #5ba8c7;
      border-color: #5ba8c7; 
    }

  .btn.btn-secondary {
    color: #2f2f2f;
    background: #f9bf29;
    border-color: #f9bf29; }
    .btn.btn-secondary:hover {
      background: #f8b810;
      border-color: #f8b810; }

  .btn.btn-white-outline {
    background: transparent;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.3);
}
    .btn.btn-white-outline:hover {
    border-color: #2196F3;
    color: #ffffff;
}

/* CONTENIDO SECUNDARIO */

.container {
    width: 100vw;
    height: 93vh;
    background-image: url('tu-imagen.jpg'); /* Imagen de fondo inicial */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 2s ease, background-color 1s ease 2s, background-image 2s ease 1s; /* Transiciones */
}

.content {
    
    position: absolute;
    top: 40%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    
    background-repeat: no-repeat;
    background-size: contain;
    height: 347px;
    width: 493px;
    padding-top: 45px;
    display: block;
}

.content .imagen_lavadora{
    opacity: 0;
    position: relative;
    width:auto;
    /*height:443px;*/
    top: 90px

}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(223, 53, 53);
    /*background-color: rgba(255, 255, 255, 1);*/
}

.description {
    opacity: 0;
    /*padding: 20px;*/
    text-align: center;
    background-color: #fff;
    transition: opacity 1s ease; /* Transición suave de opacidad */
}

.zoomed {
    transform: scale(8); /* Aumenta el zoom */
    opacity: 0; /* Desvanece la imagen de fondo */
}

.btn_zoom{
    /* background-color: #ffffffa1; */
    opacity: 0;

    padding: 15px;
    transform: translate(-8%, -170%);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 100px;
    width: 200px;
    height: 200px;
    
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.76);
}
.show-description {
    opacity: 1;
}



.show-image {
    opacity: 1;
}


.bubble-container {
    display: none; /* Ocultamos inicialmente las burbujas */
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 0; /* Comenzamos con las burbujas invisibles */
    transition: opacity 3s ease 6s  /* Transición de opacidad */
}

.bubble {
    width: 250px;
    height: 250px;
    /*background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 18px;
    /*color: #333;*/

    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.76);
    /*animation: float 4s infinite;*/ /* Animación de flotación */
}
.bubble .img_bubble{
    width: 200px;
    height: 200px;
}

.bubble span{
    position: absolute;
    border-radius: 50%;
}

.bubble h3{
    position: absolute;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
    top:230px;
    color: white;
    font-size: 25px;
    /* text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
    */
}

.bubble p{
    position: absolute;
    font-family: "Inter", sans-serif;
    opacity: 0.8;
    top:270px;
    color: white;
    font-size: 20px;
    /* text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
               1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000; */

}

.bubble span:nth-child(1){
    inset: 10px;
    border-left: 15px solid #ffffff;
    filter: blur(8px);
}

.show-bubbles {
    opacity: 1;
}

.show-bubbles .bubble {
    animation: riseAndGrow 2s forwards, float 4s 2s infinite; /* Aplica ambas animaciones a las burbujas */
    /*width: 100px;*/ /* Tamaño final */
    /*height: 100px;*/ /* Tamaño final */
    opacity: 1; /* Se vuelve visible */
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

@keyframes riseAndGrow {
    0% {
        transform: translateY(100vh) scale(0.1); /* Aparecen desde abajo de la pantalla */
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1); /* Terminan en su posición final */
        opacity: 1;
    }
}
